.quote_item {
  background: #eee;
  border-radius: 0.5rem;
  width: 90%;
  height: auto;

  display: grid;
  gap: 0.2rem;
  grid-template-columns: 4rem minmax(10rem, 1fr) 9rem;
  grid-template-rows: minmax(5rem, 1fr) 2rem;
  grid-template-areas:
  'metadata   quote     reporter'
  'comments   comments  comments';
}

.quote_item-metadata {
  grid-area: metadata;
}

.quote_item-quote {
  --border: solid 0.01rem black;
  grid-area: quote;
  border-right: var(--border);
}

.quote_item-reporter {
  grid-area: reporter;
}

.quote_item-comments {
  grid-area: comments;
  background-color: inherit;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  filter: brightness(0.9);
}
