html {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    background-color: #f0f0f0;
}

h1 {
    font-size: 60px;
    text-align: center;
}

.top-row_header {
    margin: 0;
    padding: 20px 0;
    color: #9538B7;
    text-shadow: 3px 3px 5px #9538B7;
}

p,
li {
    font-size: 16;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 1px solid black;
}

.top-row_logo {
    display: block;
    margin: 0 auto;
}

.logo {
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 30%;
    text-shadow: 30px 30px 5px #9538B7;
}