html {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    background-color: #f0f0f0;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 1px solid black;
}

.button {
    background-color: #9538B7;
    color: white;
    border-radius: 20%;
    border-style: dotted;
    padding: 5px;
}

.logo {
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 30%;
}

.top-row {
    display: flex;
    align-items: center;
}

.top-row * {
    display: inline;
    margin: 0 auto;
}

.top-row_header {
    margin: 0 auto;
    padding: 20px 0;
    color: #9538B7;
    text-shadow: 3px 3px 5px #9538B7;
}

.top-row_new-quote {
    font-size: 30px;
}