.top_row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  height: 100%;
  font-size: 1rem;
  overflow: hidden;
  justify-items: center;
  align-items: center;
}

.top_row-logo {
  grid-column: 1;
}

.top_row-phrase {
  grid-column: 2;
}

.top_row-add_new_button {
  grid-column: 3;

  width: auto;
  padding: 0.5rem;

  background-color: var(--theme-dark);
  color: white;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.top_row-add_new_button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.top_row-user_thumbnail {
  grid-column: 4;
}
