body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: #091d04;
  --background-accent: #123f09;
  --text-color: #e2e2e2;
  --link-color: #965cf3;
  --nav-height: 50px;
  --border: 1px solid var(--background-accent);
  --border-radius: 6px;
  --nav-transition-spped: 400ms;
}

html {
  background-color: var(--background-color);
  color: var(--text-color)
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-height);
  background-color: var(--background-accent);
  padding: 0 2rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.item-button {
  background: none;
  border: var(--border);
  border-radius: var(--border-radius);
}

.item-button:hover {
  cursor: pointer;
}

.item-button:active {
  background-color: var(--background-color);
}
